<div class="container mat-elevation-z4">
  <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput type="text" name="search" [(ngModel)]="searchText" placeholder="Search">
      <a matSuffix [routerLink]="['/search', searchText]"><mat-icon>search</mat-icon></a>
    </mat-form-field>
  </div>
  <mat-card>
    <mat-card-title>Books</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="(books$ | async) as books">
        <a mat-list-item *ngFor="let book of books.content" [routerLink]="['/books', book.id]">
          {{book.title}}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-paginator
    class="paginator"
    (page)="handlePageChangeEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [pageIndex]="pageIndex">
  </mat-paginator>
</div>

